/*
Copyright © 2010 William D. Back
This file is part of gentsim.

    gentsim is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    gentsim is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with gentsim.  If not, see <http://www.gnu.org/licenses/>.
*/

.scrollArea {
  height: 300px;
  width: 530px;
  overflow: scroll;
  border: 1px solid #666;
  background-color: LightSteelBlue;
  color: DarkSlateGray;
  padding: 8px;    
}

body {
  font-family: Verdana;
  font-size: smaller;
  color: MidnightBlue;
}

table {
  border-width: 0;
}

td {
  border-width: 0;
}
  
td.label {
  font-size: smaller;
  width:  10em;
}

td.value {
  background: LightSteelBlue;
  font-size: smaller;
  color: DarkSlateGray;
  width:  15em;
}

a:link {
  color: MidnightBlue;
  text-decoration: underline
}

a:visited {
  color: MidnightBlue;
  text-decoration: none
}

a:active {
  color: MidnightBlue;
  text-decoration: none
}

a:hover {
  color: DarkSlateGray;
  text-decoration: none;
  background: LightSteelBlue;
}

